@mixin flex-hc_vc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin transition($property, $duration: 0.5s, $timing-function: ease-out) {
  transition: $property $duration $timing-function;
}